body {
    margin: 0;
    background-color: #1F2937;
}

.container {
    padding: 40px;
    
}

.container > h1{
    color: white;
    
}

.container > p{
    font-family: 'Inter', sans-serif;
    line-height: 28px;
    color: #D5D4D8;
}

#span-color{
    color: #4ADF86;
}

hr {
    margin-top:35px;
    border: 1px solid #2F3E53;
}

#generate-btn {
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    color: #FFFFFF;
    margin-top:40px;
}


#passwords{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:35px;
   
    
}

#passwords > div {
    background: #273549;
    margin-left: 24px;
    border-radius: 5px;
    color: #55F991;  
    width: 211px;
    height: 30px;  
    text-align: center;
    padding-top:10px;
}
